[Unit]
Description=Check room-manager container updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=room-manager-deploy.service

[Install]
WantedBy=timers.target

